/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;

}

/* Wrapper */
.reset-password-wrapper {
    display: flex;
    flex-direction: column;height: calc(175vh - 80px);
}

/* Main Content */
.main-content-rp {
    flex: 1; /* Allows the main content to grow and push the footer down */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Reset Password Container */
.reset-password-container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 50%;
    text-align: center;
}

.reset-password-container h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

/* Message Styling */
.message {
    margin-bottom: 20px;
    color: #e74c3c;
    font-size: 1rem;
}

/* Input Fields */
.input-group-reset {
    margin-bottom: 15px;
}

.input-group-reset input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.input-group-reset input:focus {
    border-color: #3498db;
    outline: none;
}

/* Submit Button */
.submit-button {
    background-color: #3498db;
    color: white;
    font-size: 1.1rem;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #2980b9;
}


/* Responsive Design */
@media (max-width: 500px) {
    .reset-password-container {
        width: 90%;
    }

}
